// ======================================================================
// Midas
// ======================================================================
//
// A small SASS powered kickstarter for RWD
// Brought to you by @CodeStalker - midas.jamessteel.co.uk

// ======================================================================
// Basic
// ======================================================================

@if $responsive-text == false {
    html {
        font-size: 100%;
        -webkit-font-smoothing: $webkit-smoothing;
    }
}

@if $responsive-text == true {
    html {
        font-size: $rt-bp-base;
     
        -webkit-font-smoothing: $webkit-smoothing;
    }
    @media only screen and (min-width: $bp-tiny) {
        html {
            font-size: $rt-bp-tiny;
          
       
        }
    }
    @media only screen and (min-width: $bp-xsmall) {
        html {
            font-size: $rt-bp-xsmall;
        
       
        }
    }
    @media only screen and (min-width: $bp-small) {
        html {
            font-size: $rt-bp-small;
       
       
        }
    }
    @media only screen and (min-width: $bp-medium) {
        html {
            font-size: $rt-bp-medium;
   
       
        }
    }
    @media only screen and (min-width: $bp-large) {
        html {
            font-size: $rt-bp-large;
          
       
        }
    }
    @media only screen and (min-width: $bp-xl) {
        html {
            font-size: $rt-bp-xl;
         
       
        }
    }
}

// ======================================================================
// Global Font
// ======================================================================

body {
    @include type-body($global-base-font-size, true);
    font-weight: $global-font-weight;
    color: $global-font-color;
    font-family: $global-font-stack;
}

// ======================================================================
// Headings
// ======================================================================

h1, h2, h3, h4, h5, h6 {
    color: $global-heading-color;
    font-weight: $global-font-weight;
    text-rendering: optimizeLegibility;
    font-family: $global-heading-stack;
}

h1 {
    @include type-heading(3, true);
}

h2 {
    @include type-heading(2, true);
}

h3 {
    @include type-heading(1, true);
}

h4, h5, h6 {
    @include type-heading(0, true);
}

// ======================================================================
// Paragraphs
// ======================================================================

p {
    @include type-margins(true);
}

// ======================================================================
// Lists
// ======================================================================

ul, ol {
    @include type-margins(true);
}

ul ul, ol ol, ul ol, ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

dl {
    dt {
        font-weight: 700;
    }
    dd {
        font-style: italic;
    }
}

// ======================================================================
// Tables
// ======================================================================

table {
    @include type-margins(true);
    border-collapse: collapse;
    position: relative;
    table-layout: fixed;
    width: 100%;
    tr, th, td {
        margin: 0;
    }
    td {
        line-height: $global-line-height;
    }
}

thead, tfoot, tbody {
    width: 100%;
}

caption {
    line-height: $global-line-height;
}

// ======================================================================
// Quotes
// ======================================================================

blockquote {
    @include type-margins(true);
    font-style: italic;
}

blockquote > p {
    padding: 0;
}

// ======================================================================
// Misc
// ======================================================================

a {
    text-decoration: none;
    color: $link;
    &:hover {
        text-decoration: $link-hover-decoration;
        color: $link-hover;
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: $global-hr-style;
    @include type-margins(true);
    padding: 0;
}

sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4rem;
}

sub {
    top: 0.4rem;
}

b {
    line-height: 1;
}

small {
    line-height: 1;
}

strong {
    font-weight: $extrabold;
    line-height: 1;
}

em, dfn, cite, q {
    line-height: $global-line-height;
}

dfn {
    font-weight: $extrabold;
}

pre, code, kbd {
    font-family: $terminal;
}

pre {
    white-space: pre;
    @include type-margins(true);
}

pre, code {
    line-height: $global-line-height;
}

kbd {
    position: relative;
    top: -1px;
    margin-bottom: 1px;
    padding: 0 0;
}

pre {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    white-space: pre\9;
}