// ======================================================================
// Midas
// ======================================================================
//
// A small SASS powered kickstarter for RWD
// Brought to you by @CodeStalker - midas.jamessteel.co.uk

// ======================================================================
// Config
// ======================================================================

$pesticide-debug: false;

// Colors
$bright: 		#eeeeee;
$medium: 		#666666;
$dark: 			#222222;

$primary: 		#2ecc71;
$secondary: 	#2c3e50;
$tertiary: 		#42b3c5;

$positive: 		#16a085;
$negative: 		#c0392b;
$warning: 		#f39c12;

// Font Weights
$ultralight: 	100;
$thin: 			200;
$light: 		300;
$regular: 		400;
$semibold: 		500;
$bold: 			600;
$extrabold: 	700;
$heavy: 		800;
$ultraheavy: 	900;

// Font Smoothing
$webkit-smoothing: antialiased;

// Typography Setup

// 1rem = 16px
$global-font-size: 		1rem;
$global-line-height: 	1.5;

$global-font-stack: 	$gillsans;
$global-font-weight: 	$thin;
$global-font-color: 	$medium;

// Headings
$global-heading-stack: 	$gillsans;
$global-heading-color: 	$primary;
$global-heading-weight: $regular;

// Links
$link:			$tertiary;
$link-hover:	$tertiary;
