// ======================================================================
// Midas
// ======================================================================
//
// A small SASS powered kickstarter for RWD
// Brought to you by @CodeStalker - midas.jamessteel.co.uk

// ======================================================================
// Configuration
// ======================================================================

@import "config";

@import "partials/midas";

// ======================================================================
// Vars
// ======================================================================

$total_columns: 12;
$total_width: 100%;
$gutter_width: 3%;
$container_margin: 2%;

$class_container: "row";
$class_column: "col";
$class_push: "push";

